:root {
  --d: 300px;
}

* {
  user-select: none; 
  box-sizing: border-box; 
  transform-style: preserve-3d;
}

body { 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/terrain/terrain3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#root, .App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.scene {
  width: var(--d);
  height: var(--d);
  border: none;
  margin: 80px;
  perspective: calc(var(--d) * 2);
}

.cube {
  width: var(--d);
  height: var(--d);
  position: relative;
  transform: translateZ(calc(-0.5 * var(--d) ));
  transition: transform ease-out 0.25s;
}


.cube__face--front  { background: hsla(  0, 100%, 50%, 0.25); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.25); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.25); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.25); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.25); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.25); }

.cube.show-front  { 
  transform: translateZ(calc(-0.5 * var(--d) )) rotateX(45deg) rotateY(0deg) rotateZ(45deg); 
}
.cube.show-right  { 
  transform: translateZ(calc(-0.5 * var(--d) ))  rotateX(-45deg) rotateY(-45deg) rotateZ(-90deg); /* rotateY( -90deg); */
}
.cube.show-left   { 
  transform: translateZ(calc(-0.5 * var(--d) ))  rotateX(-45deg) rotateY(45deg) rotateZ(90deg); /*rotateY(  90deg); */
}
.cube.show-top    { 
  transform: translateZ(calc(-0.5 * var(--d) ))  rotateX(-45deg) rotateY(45deg); /*rotateX( -90deg); */
}
.cube.show-bottom { 
  transform: translateZ(calc(-0.5 * var(--d) ))  rotateX(135deg) rotateY(-45deg); /*rotateX(  90deg); */
}
.cube.show-back   { 
  transform: translateZ(calc(-0.5 * var(--d) ))  rotateX(45deg) rotateY(180deg) rotateZ(45deg); /*rotateY(-180deg); */
}

.cube__face {
  position: absolute;
  width: 99.9%;
  height: 99.9%;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(calc(0.5 * var(--d) )); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(calc(0.5 * var(--d) )); }
.cube__face--back   { transform: rotateY(180deg) translateZ(calc(0.5 * var(--d) )); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(calc(0.5 * var(--d) )); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(calc(0.5 * var(--d) )); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(calc(0.5 * var(--d) )); }

label { margin-right: 10px; }


.cube__face--section {
  width:  33.33%;
  height: 33.33%;
  border: 1px solid #000;
  line-height: 100%;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateZ( 0 );
}

.cube__face--section--hover {
  transform: translateZ( calc( 0.1 * var(--d) ) );
}

.cube__face--section > img {
  width: 50%;
  height:50%;
  object-fit: contain;
  object-position: center;
  position: absolute;

}

.cube__face--section > img:nth-child(1) {
  transform: rotateX(-90deg) translateY( calc( -0.3333 * var(--d) / 4 ) );
}
.cube__face--section > img:nth-child(2) {
  transform: rotateX(-90deg) rotateY(90deg) translateY( calc( -0.3333 * var(--d) / 4 ) );
}

.mousecoords {
  position: fixed;
  bottom: 2rem;
}



.block {
  width: calc( 0.33 * var(--d));
  height: calc( 0.33 * var(--d));
  position: relative;
  transform: translateZ(calc( -0.3333 * var(--d) / 2) );
}

.block__face {
  position: absolute;
  width: 99.9%;
  height: 99.9%;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.cube__face--section .block__face:not(.block__face--back) {
  display: none;
}
.cube__face--section--hover .block__face:not(.block__face--back) {
  display: flex;
}

.block__face--front  { 
  transform: rotateY( 0deg) translateZ( calc( -0.3333 * var(--d) / 2 ) ); 
}
.block__face--right  { 
  transform: rotateY( 90deg) translateZ( calc( -0.3333 * var(--d) / 2 ) ); 
}
.block__face--back   { 
  transform: rotateY(180deg) translateZ( calc( -0.3333 * var(--d) / 2 ) ); 
}
.block__face--left   { 
  transform: rotateY(-90deg) translateZ( calc( -0.3333 * var(--d) / 2 ) ); 
}
.block__face--top    { 
  transform: rotateX( 90deg) translateZ( calc( -0.3333 * var(--d) / 2 ) ); 
}
.block__face--bottom {  
  transform: rotateX(-90deg) translateZ( calc( -0.3333 * var(--d) / 2 ) ); 
}



.block__face > img {
  width: 100%;
  height:100%;
  object-fit: contain;
  object-position: center;
  position: absolute;

}